@{
    ViewBag.Title = "About";
}

<h2>Our Vision</h2>
<p style="text-wrap:normal">
    <strong>It's kind of hard to find places to hike or camp.</strong> Most people either go to recreation locations
    that they have been to previously or use word of mouth to find new locations. Hiking and camping dedicated
    websites typically only offer "Top Ten" lists or have a limited number of locations. <strong>Cookie Computing</strong> sought
    to fix that with a new tool, <strong>Tentsntrails</strong>.
    <br /><br />
    <strong>Tentsntrails</strong> is a web application that helps <strong>outdoor enthusiasts</strong> discover their next outdoor destination. 
    Users can <strong>add locations</strong>, search based on a variety of criteria, <strong>share pictures and videos</strong> taken on their 
    trip, and <strong>bookmark</strong> places that they enjoyed or would like to go to in the future. Locations can
    be
<strong>rated and reviewed</strong> so that people can <strong>share their outdoor experiences</strong>. The site data is completely <strong>user generated</strong>
    and monitored by our moderators. The site also has some <strong>social</strong> functionality, allowing users can connect and 
    interact with other users through organizing events and messaging their friends. Unlike other outdoor websites, 
    Tentsntrails offers a unique blend of discovery and social connectivity.</p>
<br />

<h2>Main Features</h2>
<p style="text-wrap:normal">
    <ol>
        <li>Users can <strong>find or add outdoor recreation locations as well as media for locations.</strong></li>
        <li>Users can <strong>connect and interact with other users</strong> through organizing events and messaging their friends.</li>
        <li>Users can <strong>rate and review recreation locations</strong> that they have visited to share their outdoor experience to help their fellow community members find the best places to enjoy the outdoors.</li>
        <li>Users can <strong>bookmark locations</strong> that they have been to and want to visit in the future.</li>
    </ol>
</p>
<br />
<h2>About Cookie Computing</h2>
<p style ="text-wrap:normal">Senior students at <strong>Western Oregon University</strong> are separated into groups of four and 
    are tasked with working together to build a web application using the <strong>Agile software development methodology</strong>.
    Our team, comprised of <strong>Aaron Carson</strong> (<a href="https://github.com/aaroncarsonart">https://github.com/aaroncarsonart</a>),
    <strong>April Senner</strong> (<a href="https://github.com/sennera">https://github.com/sennera</a>), <strong>J.J. Garcia</strong>
    (<a href="https://github.com/juliangarcia11">https://github.com/juliangarcia11</a>), and <strong>Jared Petersen</strong>
    (<a href="https://github.com/jaredpetersen">https://github.com/jaredpetersen</a>). Cookie Computing uses the ASP.NET 
    EF 6 MVC 5 software stack to build the <strong>Tentsntrails</strong> application, Visual Studio Online with Team Foundation Server 
    for version control and code management, Microsoft Azure for web hosting, and Google Drive/Gmail for document 
    sharing and remote communication. Through working on this project, our team was able learn more about the 
    Agile development methodology, experience it in action, and gain an understanding of how companies 
    build software effectively.</p>
<br />
<img src="http://www.wou.edu/~jpetersen11/cs430/groupPic.jpg" style="max-width:100%; height:auto">
<h6>From left to right: Aaron Carson, Jared Petersen, April Senner, and J.J. Garcia</h6>