<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <!-- Change connection string to AZURE_NIGHTLY -->
  <connectionStrings>
    <add name="TentsNTrailsDB"
      connectionString="Data Source=tcp:ib9fjjkdrp.database.windows.net,1433;Initial Catalog=tentsntrails-nightly;User Id=CookieComputing@ib9fjjkdrp;Password=MySecurePassword1"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <system.web>
  </system.web>
</configuration>