@if (ViewBag.UnreadCount > 0)
{
    <span class="badge badge-notification">
        @ViewBag.UnreadCount
    </span>
}
else
{
    <span class="badge badge-notification-no-unread">
        @ViewBag.UnreadCount
    </span>
}