<!--FOOTER-->
<hr />
<footer style="float: right">
    <p>
        <a href="@Url.Action("About", "Home")" title="About">
            &nbsp;&copy; @DateTime.Now.Year - tents n trails&nbsp;
        </a>
    </p>
</footer>