<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">

        <!-- COLLAPSABLE BUTTON -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a href="@Url.Action("Index", "Home")" class="navbar-brand" title="Home">
                <span class="hidden-xs"  style="color:#d5d5d5; display:inline"                >tents<span style="color:#9acb6a; display:inline">n</span>trails</span>
                <span class="visible-xs" style="color:#d5d5d5; display:inline;padding-top:5px">tents<span style="color:#9ecb6a; display:inline">n</span>trails</span>
            </a>
     </div>
        
        <!-- LINKS -->
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Locations", "Index", "Location")</li>
                @Html.Partial("_SocialMenuPartial")
            </ul>
            @Html.Partial("_LoginPartial")
        </div>

    </div>
</div>